<div class="container card-container">
    <div class="card">
        <div class="card-header">
            Forgot Password
        </div>
        <div class="alert alert-success" *ngIf="message" role="alert">
            {{message}}
        </div>
        <div class="card-body">
            Please enter your email address and we'll send you instructions on how to reset your password.
            <form class="form-signin">
                <label for="inputPassword">Password:</label>
                <input type="password" id="inputPassword" [(ngModel)]="password" class="form-control" placeholder="Password" required>
                <label for="inputPasswordConfirm">Confirm Password:</label>
                <input type="password" id="inputPasswordConfirm" [(ngModel)]="confirmPassword" class="form-control" placeholder="Password" required>
                <br />
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="submit()">Sign in</button>
            </form>
        </div>
    </div>
</div>