<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SPA-Auth Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
            </li>
            <li *ngIf="user">
                <a class="nav-link" href="/secure"><i class="fas fa-lock"></i>  Secure</a>
            </li>
        </ul>
        <span *ngIf="user">
            {{user.firstName}} {{user.lastName}}
            <a class="nav-link" href="/auth/logout"><i class="fas fa-lock"></i> Logout</a>
        </span>
        <form *ngIf="!user" class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="/login"><i class="fas fa-lock"></i> Login</a>
        </form>
    </div>
</nav>