<div class="container">
    <div class="card card-container">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form class="form-signin">
                <div class="row">
                    <div class="col-md-12">
                        <label for="inputEmail">Name:</label>
                        <input type="email" id="inputName" name="name" [(ngModel)]="user.email" class="form-control" placeholder="Name Ex. John Doe" required autofocus />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="inputEmail">Email:</label>
                        <input type="email" id="inputEmail" name="email" [(ngModel)]="user.email" class="form-control" placeholder="Email address" required autofocus />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="inputPassword">Password:</label>
                        <input type="password" id="inputPassword" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="inputPasswordConfirm">Confirm Password:</label>
                        <input type="password" id="inputPasswordConfirm" name="confirmPassword" [(ngModel)]="user.confirmPassword" class="form-control" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div *ngIf="message" class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                <br/>
                <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="signup()" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>